<% layout("/layouts/boilerplate") %> <!-- Uses boilerplate layout -->

<div class="row mt-3">
    <div class="col-8 offset-3">
        <!-- Page heading for listing details -->
        <h3>Listing Details : </h3>
    </div>

    <!-- Card displaying listing details -->
    <div class="card col-6 offset-3 show-card">
        <!-- Listing image -->
        <img src="<%= listing.image %>" 
             class="card-img-top show-img" 
             alt="listing_image">

        <div class="card-body">
            <!-- Listing information: title, description, price, location, country -->
            <p class="card-text">
                <b><%= listing.title %></b> <br>
                <%= listing.description %> <br>
                &#8377; <%= listing.price.toLocaleString("en-IN") %> <br>
                <%= listing.location %> <br>
                <%= listing.country %>
            </p>
        </div>
    </div>

    <br/>

    <!-- Edit and Delete buttons -->
    <div class="btns">
        <!-- Link to edit the listing -->
        <a href="/listings/<%= listing._id %>/edit" 
           class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>

        <!-- Form to delete the listing -->
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="btn btn-dark offset-5">Delete</button>
        </form>
    </div>
</div>
